.header {
  background-color: var(--color-background-darkgreen);
  color: #fff;
}

.header__inner {
  max-width: 1140px;
  padding: 18px var(--content-sidepadding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header__account {
  display: flex;
  align-items: center;
  gap: 30px;
}
