.about-me {
  background-color: var(--color-background-darkgrey);
  color: var(--color-text-white);
}

.about-me__inner {
  max-width: var(--content-maxwidth);
  padding: 110px var(--content-sidepadding) 106px;
  margin: 0 auto;
}

.about-me__bio {
  margin: 66px 0 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.about-me__foto {
  display: block;
  width: 270px;
  height: 327px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.about-me__description {
  display: flex;
  flex-direction: column;
}

.about-me__name {
  margin: 0;
  max-width: 600px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
  letter-spacing: -0.04em;
  color: var(--color-text-white);
}

.about-me__about {
  margin: 18px 0 0;
  max-width: 600px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  color: var(--color-text-white);
  mix-blend-mode: normal;
}

.about-me__history {
  margin: 26px 0 0;
  max-width: 600px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: var(--color-text-white);
  mix-blend-mode: normal;
}

.about-me__social {
  margin: auto 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 20px;
}

.about-me__social-link {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: var(--color-text-white);
  transition: 0.3s;
}

.about-me__social-link:hover {
  opacity: 0.6;
}

.about-me__portfolio {
  margin: 100px 0 0;
}

.about-me__header {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
  color: var(--color-text-grey);
  mix-blend-mode: normal;
}

.about-me__portfolio-list {
  margin: 31px 0 0;
  padding: 0;
  list-style: none;
}

.about-me__portfolio-item {
  padding: 19px 0;
  border-bottom: 1px solid #424242;
  position: relative;
}

.about-me__portfolio-item:last-child {
  border-bottom: none;
}

.about-me__portfolio-item::after {
  content: '↗';
  position: absolute;
  right: 0;
  top: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 2;
  letter-spacing: -0.04em;
  color: var(--color-text-white);
}

.about-me__portfolio-link {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.67;
  letter-spacing: -0.04em;
  color: var(--color-text-white);
  transition: 0.3s;
}

.about-me__portfolio-link:hover {
  opacity: 0.6;
}
