.info-msg {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: fixed;
  right: 0;
  top: 0;
  margin: 0;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  list-style: none;
}
