:root {
  --content-maxwidth: 1140px;
  --content-sidepadding: 70px;
  --color-background-darkgreen: #073042;
  --color-background-green: #3DDC84;
  --color-text-white: #fff;
  --color-text-black: #000;
}

.root {
  margin: 0;
  padding: 0;
}
